    body {
        width: 96%;
        padding: 0 2%;
    }

    h1 {
        width: 100%;
        margin: 0 0 1em;
        font-size: 14px;
    }

    h1 strong {
        font-size: 26px;
    }

    p,li {
        font-size: 17px;
        line-height: 25px;
    }

    nav li {
        display: inline;
        margin: 0 1em;
        padding: 0;
        font-size: 16px;
    }

    article {
        position: relative;
        float: left;
        width: 55%;
        margin: 0 3% 2em 0;
    }

    article header {
        padding: 0 4%;
    }

    article h2 {
        margin-bottom: .5em;
        font-size: 20px;
        line-height: 30px;
    }

    article header p {
        font-size: 14px;
    }

    aside {
        float: right;
        width: 42%;
        margin: 0 0 2%;
        padding: 0;
        border: none;
    }

    aside h3 {
        font-size: 16px;
    }

    aside .input-text,aside .input-text.email {
        width: 95%;
        font-size: 20px;
    }

    aside .input-submit {
        width: 99.5%;
        padding: 3% 0;
    }

    body>footer>p {
        font-size: 9px;
        letter-spacing: .3em;
    }
